.form-section {

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;

	&__form {
		background-color: white;
	}

	&__description {
		background-color: #0057fb;
	}

	&__container {

		width: 480px;
	}

	& > div {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}



}